<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET">
        {{forms.hidden_tag()}}
        <div>
            {{forms.name.label}}
            {{forms.name}}
            {% for error in forms.name.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
        <div>
            {{forms.age.label}}
            {{forms.age}}
            {% for error in forms.age.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
            <div>
                {{forms.Submit.label}}
                {{forms.Submit}}
            </div>
    </form>
    <h2>info list</h2>
    <ul>
        {% for item in info %}
            <li>{{ item.name }} ({{ item.age }} years old)</li>
        {% endfor %}
    </ul>
</body>
</html>